<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Template-3</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <nav class="upper" id="top">
    <div class="left">
      <a href="#"> <i class="fa fa-facebook-official"></i></a>
      <a href="#"> <i class="fa fa-instagram"></i></a>
      <a href="#"> <i class="fa fa-snapchat"></i></a>
      <a href="#"> <i class="fa fa-flickr"></i></a>
      <a href="#"> <i class="fa fa-twitter"></i></a>
      <a href="#"> <i class="fa fa-linkedin-square"></i></a>
    </div>
    <div class="right left">
      <a href="#"> <i class="fa fa-search"></i></a>
    </div>
  </nav>
  <div class="welcome">
    <h1>
      <b>JANE BLOGLIFE</b>
    </h1>
    <p>Welcome to the blog of <span>Jane's world</span></p>
  </div>
  <section class="jumbotron">
    <div class="content">
      <h1>Jane's</h1>
      <h1><b>FASHION BLOG</b></h1>
      <p>SUBSCRIBE</p>
    </div>
  </section>
  <section class="parent">
    <div class="first child">
      <!-- more_hats -->
      <div class="title_container hats_container">
        <div class="material">
          <h2>TITLE HEADING</h2>
          <p>Title description,<span> May 2, 2016</span></p>
        </div>
        <div class="hats_img">
          <img src="./Assets/girl_hat.jpg" alt="" />
        </div>
        <div class="hats_para">
          <p>
            <b>More Hats!</b>I am crazy about hats these days. Some text about
            this blog entry. Fashion fashion and mauris neque quam, fermentum
            ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem
            euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor
            cursus at. Phasellus sed ultricies mi non congue ullam corper.
            Praesent tincidunt sedtellus ut rutrum. Sed vitae justo
            condimentum, porta lectus vitae, ultricies congue gravida diam non
            fringilla.
          </p>
          <p>
            Sunt in culpa qui officia deserunt mollit anim id est laborum
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco.
          </p>
        </div>
        <div class="button_parent">
          <div class="like">
            <button><i class="fa fa-thumbs-up"></i> Like</button>
          </div>
          <div class="reply">
            <button>Replies <span class="one">1</span></button>
          </div>
        </div>
        <hr />
        <div class="george">
          <div class="grg_img">
            <img src="./Assets/avatar_smoke.jpg" alt="" />
          </div>
          <div class="grg_material">
            <b>George <span>May 3, 2015, 6:32 PM</span></b>
            <p>Great blog post! Following</p>
          </div>
        </div>
      </div>
      <!-- hats -->
      <div class="title_container">
        <div class="material">
          <h2>TITLE HEADING</h2>
          <p>Title description,<span> May 2, 2016</span></p>
        </div>
        <div class="hats_img">
          <img src="./Assets/man_hat.jpg" alt="" />
        </div>
        <div class="hats_para">
          <p><b>Hats!</b>The trend this summer is hats for men!</p>
          <p>
            Some text about this blog entry. Fashion fashion and mauris neque
            quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis
            nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac
            accumsan tortor cursus at. Phasellus sed ultricies mi non congue
            ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae
            justo condimentum, porta lectus vitae, ultricies congue gravida
            diam non fringilla.
          </p>
        </div>
        <div class="button_parent">
          <div class="like">
            <button><i class="fa fa-thumbs-up"></i> Like</button>
          </div>
          <div class="reply">
            <button>Replies <span class="one">2</span></button>
          </div>
        </div>
        <hr />
        <div class="george">
          <div class="grg_img">
            <img src="./Assets/girl_train.jpg" alt="" />
          </div>
          <div class="grg_material">
            <b>Amber <span>April 26, 2015, 10:52 PM</span></b>
            <p>
              Love your blog page! Simply the best! Lorem ipsum dolor sit
              amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
        <div class="george">
          <div class="grg_img">
            <img src="./Assets/girl.jpg" alt="" />
          </div>
          <div class="grg_material">
            <b>Angie <span>April 23, 2015, 9:12 PM</span></b>
            <p>Love hats!!</p>
          </div>
        </div>
      </div>
      <!-- don't_miss -->
      <div class="title_container">
        <div class="material">
          <h2>TITLE HEADING</h2>
          <p>Title description,<span> May 2, 2016</span></p>
        </div>
        <div class="hats_img">
          <img src="./Assets/runway.jpg" alt="" />
        </div>
        <div class="hats_para">
          <p>
            <b>Dont miss!</b>The runway in New York City this weekend is gonna
            be legendary!
          </p>
          <p>
            Some text about this blog entry. Fashion fashion and mauris neque
            quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis
            nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac
            accumsan tortor cursus at. Phasellus sed ultricies mi non congue
            ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae
            justo condimentum, porta lectus vitae, ultricies congue gravida
            diam non fringilla.
          </p>
        </div>
        <div class="button_parent">
          <div class="like">
            <button><i class="fa fa-thumbs-up"></i> Like</button>
          </div>
          <div class="reply">
            <button>Replies <span class="one">3</span></button>
          </div>
        </div>
        <hr />
        <div class="george">
          <div class="grg_img">
            <img src="./Assets/girl_mountain.jpg" alt="" />
          </div>
          <div class="grg_material">
            <b> Jane <span>April 10, 2015, 7:22 PM</span></b>
            <p>That was a great runway show! Thanks for everything.</p>
          </div>
        </div>
        <div class="george">
          <div class="grg_img">
            <img src="./Assets/boy.jpg" alt="" />
          </div>
          <div class="grg_material">
            <b> John <span>April 8, 2015, 10:32 PM</span></b>
            <p>
              Keep up the GREAT work! I am cheering for you!! Lorem ipsum
              dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt.
            </p>
          </div>
        </div>
        <div class="george">
          <div class="grg_img">
            <img src="./Assets/girl_hood.jpg" alt="" />
          </div>
          <div class="grg_material">
            <b> Anja <span>April 7, 2015, 9:12 PM</span></b>
            <p>Cant wait for the runway to start!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="second child">
      <!-- about_cards -->
      <div class="about_card">
        <div class="avatar_content">
          <div class="avatar">
            <img src="./Assets/avatar_girl2.jpg" alt="" />
          </div>
          <div class="avatar_text">
            <h2>My Name</h2>
            <p>
              Just me, myself and I, exploring the universe of uknownment. I
              have a heart of love and a interest of lorem ipsum and mauris
              neque quam blog. I want to share my world with you.
            </p>
          </div>
        </div>

      </div>
      <div class="posts">
        <div class="post_text">
          <h2>Popular Posts</h2>
        </div>
        <div class="four_cards">
          <div class="four">
            <img src="./Assets/avatar_smoke.jpg" alt="">
          </div>
          <div class="four_text">
            <h3>Denim</h3>
            <p>Sed mattis nunc</p>
          </div>
        </div>
        <hr>
        <div class="four_cards">
          <div class="four">
            <img src="./Assets/bandmember.jpg" alt="">
          </div>
          <div class="four_text">
            <h3>Sweaters</h3>
            <p>Praes tinci sed</p>
          </div>
        </div>
        <hr>

        <div class="four_cards">
          <div class="four">
            <img src="./Assets/workshop.jpg" alt="">
          </div>
          <div class="four_text">
            <h3>Workshop</h3>
            <p>Ultricies congue</p>
          </div>
        </div>
        <hr>
        <div class="four_cards">
          <div class="four trend_img">
            <img src="./Assets/avatar_smoke.jpg" alt="">
          </div>
          <div class="four_text">
            <h3>Trends</h3>
            <p>Lorem ipsum dipsum</p>
          </div>
        </div>

      </div>
      <div class="advertise_container">
        <div class="advertise">
          <h2>Advertise</h2>
        </div>
        <div class="AD">
          <div class="AD_here">
            <p>Your AD Here</p>
          </div>
        </div>
      </div>
      <div class="tag_container">
        <div class="tag">
          <h2>Tags</h2>
        </div>
        <div class="span_text">
          <span class="fashion">Fashion</span>
          <span class="thirteen">NewYork</span>
          <span class="thirteen">London</span>
          <span class="thirteen">Hats</span>
          <span class="thirteen">Norway</span>
          <span class="thirteen">Sweaters</span>
          <span class="thirteen">Ideas</span>
          <span class="thirteen">Deals</span>
          <span class="thirteen">Accessories</span>
          <span class="thirteen">News</span> <br>
          <span class="thirteen">Clothing</span>
          <span class="thirteen">Shopping</span>
          <span class="thirteen">Jeans</span>
          <span class="thirteen">Trends</span>
        </div>
      </div>
      <div class="inspiration_container">
        <div class="inspiration">
          <h2>Inspiration</h2>
        </div>
        <div class="inxpire">
          <div class="inspire_img">
            <div>
              <img src="./Assets/jeans.jpg" alt="">
            </div>
            <div><img src="./Assets/team1.jpg" alt=""></div>
          </div>
          <div class="inspire_img">
            <div>
              <img src="./Assets/avatar_hat.jpg" alt="">
            </div>
            <div><img src="./Assets/team4.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="follow">
        <div class="me">
          <h2>Follow Me</h2>
        </div>
        <div class="follow_icon">
          <i class="fa fa-facebook-official"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-snapchat"></i>
          <i class="fa fa-pinterest"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-linkedin-square"></i>
        </div>
      </div>
      <div class="subscribe_container">
        <div class="subscribe">
          <h2>Subscribe</h2>
        </div>
        <div class="email">
          <p>Enter your e-mail below and get notified on the latest blog posts.</p>
          <input type="email" placeholder="Enter e-mail">

        </div>
        <div class="subs"><button>Subscribe</button></div>
      </div>
    </div>
  </section>
  <div class="top">
    <a href="#">
      <button><i class="fa fa-arrow-up"></i>To the top</button>
    </a>
    <div class="bottom">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp">w3.css</a></p>
    </div>
  </div>
</body>

</html>